#mainTitle{
	font-size: 21px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #CEECF5;
}
#secondaryTitles{
	font-size: 17px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: white;
}
#mainTitles{
	font-size: 38px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #08618E;
}