#mainTitle{
	font-size: 21px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #CEECF5;
}
#secondaryTitles{
	font-size: 17px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #A9D0F5;
}
#mainTitles{
	font-size: 38px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #005C9C;
}