#listaValores{
	text-align: center;
	text-decoration: none;
	text-transform: none;

}
#mainTitles{
	font-size: 38px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #08618E;
}
#secondaryTitlesEnterprise{
	font-size: 15px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #08618E;
}