#parrafo{
	text-align: left;
	font-size: 16px;
	color: #0B173B;
	font-style: inherit;
	font-weight: 300;
}
#details{
	text-align: left;
	font-size: 1px;
	color: #0B173B;
	font-style: inherit;
	font-weight: 300;
}
#mainTitlesProductos{
	font-size: 38px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #08618E;
}